﻿body {
    font-family: 'Lato';
    padding-top: 50px;
    color: #2C3E50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Navbar settings */
.navbar-main {
    background-color: #2C3E50 !important;
    border-color: #2C3E50;
}

.navbar-header a {
    color: #FFF;
    text-decoration: none;
}

    .navbar-header a:hover,
    .navbar-header a:focus {
        color: #FFF;
        text-decoration: none;
    }

.navbar-nav a {
    color: #FFF;
    text-decoration: none;
}

    .navbar-nav a:hover,
    .navbar-nav a:focus {
        color: #2C3E50;
        text-decoration: none;
    }

.navbar-toggle span {
    background-color: #FFF;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #ff0000;
    padding: 3px;
}

.main-content {
    padding: 10px;
}

.flash-message-block {
    padding-top: 15px;
}

/* Button styles */
.btn-main-action {
    color: #ffffff;
    background-color: #5F83A7;
    border-color: #4F6F8F;
}

.btn-prev-action {
    border: 1px solid #5F83A7;
    border-radius: 5px;
    color: #5F83A7;
}

/* Customize file input */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Footer */
.fixed-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #2C3E50;
    color: #FFF;
}

.container-footer-info {
    margin-top: 40px;
    text-align: center;
}