﻿@model PaperRulez.Models.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "PaperRulez Ltd";
}

<div class="d-flex">
    <h3>PaperRulez Ltd is a company that handles paper documents for its clients and processes them as contracted.</h3>
</div>

<div class="d-flex">
    @using (Html.BeginForm("SelectedCustomer", "Home", FormMethod.Post, new { @id = "customerSelectForm", @name = "frmCustomerSelect" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="SelectedCustomer">Select a customer to start processing your documents:</label>

            @Html.DropDownListFor(m => m.SelectedCustomer, Model.CustomerSelectList, "Please select a customer", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SelectedCustomer)
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-main-action">Start processing</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
}