﻿@model PaperRulez.Models.ViewModels.ProcessDocumentViewModel
@{
    ViewBag.Title = $"Process documents for {Model.CustomerName}";
}

<a href="@Html.Encode(Request.UrlReferrer.ToString())" class="btn btn-prev-action">&laquo; Back</a>

<h3>Process documents for @Html.Raw(Model.CustomerName)</h3>

<div class="d-flex">
    @using (Html.BeginForm("SaveDocument", "Home", FormMethod.Post, new { @id = "saveDocumentForm", @name = "frmSaveDocument", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.CustomerName)

        <div class="form-group">
            @Html.DisplayFor(model => model.Document)
            @Html.EditorFor(model => model.Document, new { @accept = ".txt,.csv", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Document)
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-main-action">Submit document</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
}