﻿@model PaperRulez.Models.ViewModels.ProcessDocumentViewModel
@{
    ViewBag.Title = $"Processed document for {Model.CustomerName}";
}

<h3>Document processed for customer: @Html.Raw(Model.CustomerName)</h3>

<h4>Click @Html.ActionLink("here", "Index", "") to upload more documents</h4>