﻿@{
    var accept = "";
    var multiple = ViewData["multiple"];
    var css = ViewData["class"];

    if (ViewData["accept"] != null)
    {
        accept = "accept=" + ViewData["accept"] + "";
    }
}

@*<label class="btn btn-default btn-file">
    Browse file <input type="file" class="file @css" name="@ViewData.TemplateInfo.HtmlFieldPrefix" @accept @multiple style="display: none;">
</label>*@

<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-main-action">
            Browse&hellip; <input type="file" style="display: none;" @accept @multiple name="@ViewData.TemplateInfo.HtmlFieldPrefix" class="file @css">
        </span>
    </label>
    <input type="text" class="form-control" readonly>
</div>